@import "mixin.scss";

// normlize
html,
body {
  font-size: 18px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eina02';
  position: relative;
  background-color: #EBEBEB;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 30px;
}

.hidden {
  overflow: hidden;
}
//font size
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

p {
  font-size: 0.9rem;
  opacity: .5;
  font-weight: 500;
  @include media-query(mobile) {
    font-size: 0.6rem;
    font-weight: 500;
  }
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    background: black;
    opacity: .8;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
  }
  @include media-query(mobile) {
    font-size: 1rem;
  }
}
h3 {
  font-size: 1.5em;
  @include media-query(mobile) {
    font-size: 1.325rem;
  }
}
h4 {
  font-size: 1.325rem;
}
h5 {
  font-size: 1rem;
  font-weight: 700;
  @include media-query(mobile) {
    font-size: 0.825rem;
  }
}
h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  @include media-query(mobile) {
    font-size: 0.825rem;
  }
}


//typography 

@font-face {
  font-family: Eina02;
  src: url("../font/Eina02-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Eina02;
  src: url("../font/Eina02-Light.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Eina02;
  src: url("../font/Eina02-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Eina02;
  src: url("../font/Eina02-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

//
.hand {
  width: 40px;
}