@import "mixin.scss";

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    backdrop-filter: blur(5px);
    z-index: 10;
    @include media-query(mobile) {
      flex-direction: column;
    }
}
.menuLeft{
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 40vw;
  background-color: green;
  z-index: 100;
  transition: all 600ms;
  background: rgb(194,206,208);
  background: -moz-linear-gradient(180deg, rgba(194,206,208,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(194,206,208,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(194,206,208,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2ced0",endColorstr="#ffffff",GradientType=1);
  @include media-query(mobile) {
    width: 80vw;
    height: 40vh;
  }
  .title {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 8rem;
    font-weight: bold;
    opacity: .1;
    line-height: 90%;
    @include media-query(mobile) {
      font-size: 4rem;
    }
  }
  .description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    @include media-query(mobile) {
      padding: 10vw;
    }
  }
}
.menuRight{
    z-index: 100;
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 40vw;
  background-color: gray;
  transition: all 600ms;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,206,208,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,206,208,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,206,208,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c2ced0",GradientType=1);
  @include media-query(mobile) {
    width: 80vw;
    height: 40vh;
  }
  .title {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 7.5rem;
    font-weight: bold;
    opacity: .1;
    line-height: 90%;
    @include media-query(mobile) {
      font-size: 4rem;
      bottom: 0;
    }
  }
  .description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 10px;
    @include media-query(mobile) {
      padding: 10vw;
    }


  }
}
// animation
.hidden {
  overflow: hidden;
}
.herotitle {
  overflow: hidden;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 5px;
}

// cta
.cta{
  padding: 10px 20px;
  font-size: 1.25rem;
  border: 1px solid black;
  box-shadow: 6px 6px 0px black;
  margin: 0 auto;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 0px black;
    transform: translate3D( 6px, 6px, 0);
    transition: all 100ms ease-in-out;
  }
  @include media-query(mobile) {
    font-size: 1rem;
    padding: 5px 10px;
  }
} 
