.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-Y: hidden;
    width: 100vw;
    backdrop-filter: blur(5px);
    z-index: 10;
}
.menuLeft{
  position: relative;
  height: 80vh;
  width: 40vw;
  background-color: green;
  transition: all 600ms;
  background: rgb(194,206,208);
  background: -moz-linear-gradient(180deg, rgba(194,206,208,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(194,206,208,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(194,206,208,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2ced0",endColorstr="#ffffff",GradientType=1);
  .title {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 8rem;
    font-weight: bold;
    opacity: .2;
    line-height: 82%;

  }
  .description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 3vw;
    gap: 20px;
    h5 {
      font-size: 1.3rem;
    }
  }
}
.menuRight{
  height: 80vh;
  width: 40vw;
  background-color: gray;
  transition: all 600ms;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,206,208,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,206,208,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,206,208,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#c2ced0",GradientType=1);
  position: relative;
  .title {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 7.5rem;
    font-weight: bold;
    opacity: .2;
    line-height: 82%;
  }
  .description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
    gap: 30px;
  }
}
.cta{
    padding: 10px 20px;
    font-size: 1.25rem;
    border: 1px solid black;
    position: relative;
    box-shadow: 6px 6px 0px black;
    &:hover {
      box-shadow: 0px 0px 0px black;
      transform: translate3D( 6px, 6px, 0);
      transition: all 100ms ease-in-out;
    }
} 