.container {
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  cursor: pointer;
  pointer-events: auto;
  &:hover {
    box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25);
    transform: scale(1.08);
    transition: all 300ms ease-in;
  }
  &:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  max-width: 25vw;
  .tech {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;

  }
  .line{
    width: 2px;
    height: 20px;
    background-color: black;
    opacity: .8;
    border-radius: 20;
  }


  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
  }
  li:hover {
    opacity: 1;
  }
  
}
.image {
  width: 25vw;
  object-fit: cover;
  height: 200px;
  border-radius: 20px;
}